<template>
  <div class="todolist">
    <ul>
        <li v-for="todo in Todos" v-bind:key="todo">
            {{todo.name}}
            <button @click = deleteTodo(todo.name)>X</button>
        </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'TodoList',
  props: {
    Todos: Array
  },
  methods: {
      deleteTodo: function (name) { 
          this.$emit("deleteTodo", name);
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
