<template>
  <div id="app">
    New Todo: <input type="text" v-model = "name">
    <button @click = addTodo()>Add</button>
    <TodoList :Todos = this.todoList v-on:deleteTodo = "deleteTodo"></TodoList>
  </div>
</template>

<script>
import TodoList from './components/TodoList.vue'
import { getAll, addTodo, deleteTodo} from './services/todoList.js'

export default {
  name: 'App',
  components: {
    TodoList
  },
  async created() {
    const myTodos = await getAll();
    console.log(myTodos);
    this.todoList = myTodos;
  },
  data () {
    return {
      name: "",
      todoList: []
    }
  },
  methods: {
    addTodo: async function () {
      addTodo(this.name);
      this.todoList = await getAll ();
    },
    deleteTodo: async function (name) {
      deleteTodo(name);
      this.todoList = await getAll ();
    }
  }
}
</script>

<style>
</style>
